.large-navbar {
  margin-left: 5rem;
  width: 12rem;
  height: 100vh;
  transition: ease-in-out;
}

.title {
  color: var(--dark-brown);
}

.detail {
  color: var(--light-brown);
  font-size: 12px;
}

.nav-link {
  color: var(--primary);
  font-size: 14px;
}

.nav-link.active {
  background-color: var(--light-gray);
}
