/* compact navbar style */
.compact-navbar {
  width: 5rem;
  height: 100vh;
  background-color: var(--primary);
}

/* navlink active state style */
.nav-link.active {
  background-color: var(--secondary);
}
