<div>
  <div class="mx-4 pt-3 px-3 pb-0 bg-light rounded-lg">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-sm text-center text-sm-left mb-3 mt-2 mt-md-0 mb-md-0">
        <button class="btn btn-warning rounded-pill footer-btn">Contact ORIVECRM</button>
      </div>
      <div class="col-9 col-sm d-flex align-items-center justify-content-center justify-content-md-end mr-3 content-wrap">
        <img src="assets/img/logo - Copy.png" class="img mb-3" alt="">
        <p class="footer-content">&#169; 2022 ORIVECRM <br class="content-break"/> All rights reserved</p>
      </div>
    </div>
  </div>
</div>
