/* nav open main window size */
.mainWindow {
  max-height: 100vh;
  overflow: scroll;
  background-color: var(--white);
  margin-left: 17rem;
  transition: .3s;
}

.content {
  max-height: 100%;
  min-height: calc(100vh - 92px - 116px);
}

/* nav close main window size */
.mainWindow.active {
  margin-left: 0;
}

/* nav closed state */
.nav-bar {
  left: -17rem;
  transition: .3s;
  z-index: 99;
}

/* footer styling for navbar closed state */
.footer.active {
  width: 100vw;
  margin-left: 0;
}

/* navbar opened state */
.nav-bar.active {
  left: 0;
}

/* footer styling for navbar opened state */
.footer {
  width: calc(100vw - 17rem);
  margin-left: 17rem;
  z-index: 97;
  transition: .3s ease-in-out;
}

/* blur background for mobile navbar active state */
.nav-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 98;
}

/* styling for mobile view */
@media only screen and (max-width: 768px) {
  .mainWindow {
    margin-left: 0rem;
  }

  .content {
    min-height: calc(100vh - 92px - 156px);
  }

  .footer {
    width: 100vw;
    margin-left: 0;
  }
}
